In [8]:
import numpy as np
import pandas as pd
import math

# Part 1

In [9]:
# Read Elements CSV into a pandas data frame
df_elements = pd.read_csv('elements.csv')
df_elements

        name symbol  atomic_number
0   Hydrogen      H              1
1     Helium     He              2
2    Lithium     Li              3
3  Beryllium     Be              4
4      Boron      B              5
5     Carbon      C              6
6   Nitrogen      N              7
7     Oxygen      O              8

In [10]:
# add ninth and tenth elements to dataframe
df_elements.loc[len(df_elements)]=['Fluorine','F', 9]
df_elements.loc[len(df_elements)]=['Neon','Ne', 10]
df_elements

        name symbol  atomic_number
0   Hydrogen      H              1
1     Helium     He              2
2    Lithium     Li              3
3  Beryllium     Be              4
4      Boron      B              5
5     Carbon      C              6
6   Nitrogen      N              7
7     Oxygen      O              8
8   Fluorine      F              9
9       Neon     Ne             10