In [8]:
import numpy as np
import pandas as pd
import math

# Part 1

In [9]:
# Read Elements CSV into a pandas data frame
df_elements = pd.read_csv('elements.csv')
df_elements

        name symbol  atomic_number
0   Hydrogen      H              1
1     Helium     He              2
2    Lithium     Li              3
3  Beryllium     Be              4
4      Boron      B              5
5     Carbon      C              6
6   Nitrogen      N              7
7     Oxygen      O              8

In [10]:
# add ninth and tenth elements to dataframe
df_elements.loc[len(df_elements)]=['Fluorine','F', 9]
df_elements.loc[len(df_elements)]=['Neon','Ne', 10]
df_elements

        name symbol  atomic_number
0   Hydrogen      H              1
1     Helium     He              2
2    Lithium     Li              3
3  Beryllium     Be              4
4      Boron      B              5
5     Carbon      C              6
6   Nitrogen      N              7
7     Oxygen      O              8
8   Fluorine      F              9
9       Neon     Ne             10

In [13]:
# add a column with the atomic weights rounded to the nearest inetger
df_elements['atomic_weight'] = ['1','4','7','9','11','12','14','16','19','20']
df_elements

        name symbol  atomic_number atomic_weight
0   Hydrogen      H              1             1
1     Helium     He              2             4
2    Lithium     Li              3             7
3  Beryllium     Be              4             9
4      Boron      B              5            11
5     Carbon      C              6            12
6   Nitrogen      N              7            14
7     Oxygen      O              8            16
8   Fluorine      F              9            19
9       Neon     Ne             10            20

# Part 2

In [16]:
# Make a list of strings for nine Greek letters, ‘alpha’, for example.
# Make that list such that they are not in alphabetic order
greekLetters = ['delta','alpha','phi','iota','lambda',
                'gamma','eta','tau','epsilon']

In [17]:
# Make two 9-element numpy arrays of random floating-point numbers with the
# estimated mean 10 and standard deviation 1.5
mu = 10
sigma = 1.5
NPTS = 9
random1 = [sigma * x + mu for x in np.random.randn(NPTS)]
random2 = [sigma * x + mu for x in np.random.randn(NPTS)]

In [18]:
# Make an array of nine elements ranging from zero to two times pi
range_low = 0
range_high = 2*math.pi
angle = np.random.uniform(range_low, range_high, NPTS)

In [19]:
# Make another array holding the cosine of that ‘angle’ array.
cosine = [math.cos(x) for x in angle]# Construct a dictionary from all of the above
dict = d = {'Letter':greekLetters,
            'Random_1':random1,
            'Random_2':random2,
            'Angle' : angle,
            'Cosine' : cosine}

In [21]:
# Form a DataFrame from that dictionary and print it out
df_letters = pd.DataFrame(dict)
df_letters

    Letter   Random_1   Random_2     Angle    Cosine
0    delta   9.953994  10.202583  3.572819 -0.908454
1    alpha   9.865810  11.926746  1.675984 -0.104994
2      phi  11.237391   9.937766  5.471347  0.688166
3     iota   6.137568  10.643947  2.631445 -0.872672
4   lambda   8.115548  10.074629  5.349206  0.594639
5    gamma  10.801174   8.685323  4.071828 -0.597645
6      eta  10.236772  10.909745  5.965415  0.949934
7      tau  11.056809  10.988142  2.043043 -0.454888
8  epsilon  12.277114  11.559353  4.282287 -0.416964

In [22]:
# Sort the DataFrame ascending on the Greek letters,
trimmed_df = df_letters.sort_values(by=['Letter'])

In [23]:
# drop two columns of yourchoice
trimmed_df.drop(['Random_2', 'Cosine'], axis=1, inplace=True)

In [24]:
# drop one of the rows
trimmed_df.drop(trimmed_df[trimmed_df['Letter'] == 'eta'].index, inplace=True)

In [25]:
# and print that out
trimmed_df

    Letter   Random_1     Angle
1    alpha   9.865810  1.675984
0    delta   9.953994  3.572819
8  epsilon  12.277114  4.282287
5    gamma  10.801174  4.071828
3     iota   6.137568  2.631445
4   lambda   8.115548  5.349206
2      phi  11.237391  5.471347
7      tau  11.056809  2.043043

# Part 3

In [27]:
# Write a program in Python to create and print out the first twelve Fibonacci numbers
numFibs = 12
fibsList = [0, 1]
while len(fibsList) < numFibs:
    fibsList.append(sum(fibsList[-2:]))
fibsList

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [28]:
# iterate over the last five numbers to build another list 
# with the ratio of each number to its predecessor
numRatios = 5
ratioList = []
for i in range(numFibs - numRatios, numFibs):
    ratioList.append(fibsList[i] / fibsList[i-1])
ratioList

[1.625,
 1.6153846153846154,
 1.619047619047619,
 1.6176470588235294,
 1.6181818181818182]